@use "sass:color";

body {
    /* AT colors
     * red: #ea3630
     * blue: #4b93c0
     * navy: #081937
     * green: #88aa44
     */

    $primary: #86cbff;
    --primary: #{$primary};
    --primary-lighter: #{color.adjust($primary, $lightness: 20%)};
    --primary-darker: #{color.adjust($primary, $lightness: -25%)};

    $background: #ffffff;
    --background: #{$background};
    --background-03dp: #{$background};

    --surface: #ffffff;
    --error: #b00020;

    --on-primary: #000000;
    --on-background: #000000;
    --on-surface: #000000;
    --on-error: #ffffff;
}

body.theme-dark {
    $primary: #005d84;
    --primary: #{$primary};
    --primary-lighter: #{color.adjust($primary, $lightness: -15%)};
    --primary-darker: #{color.adjust($primary, $lightness: 20%)};

    $background: #121212;
    --background: #{$background};
    --background-03dp: #{color.adjust($background, $lightness: 8%)};

    --surface: #121212;
    --error: #cf6679;

    --on-primary: #ffffff;
    --on-background: #ffffff;
    --on-surface: #ffffff;
    --on-error: #ffffff;
}

@media (prefers-color-scheme:dark) {
    body.theme-system {
        $primary: #006590;
        --primary: #{$primary};
        --primary-lighter: #{color.adjust($primary, $lightness: -20%)};
        --primary-darker: #{color.adjust($primary, $lightness: 20%)};

        $background: #121212;
        --background: #{$background};
        --background-03dp: #{color.adjust($background, $lightness: 8%)};    

        --surface: #121212;
        --error: #cf6679;

        --on-primary: #ffffff;
        --on-background: #ffffff;
        --on-surface: #ffffff;
        --on-error: #ffffff;
    }
}
